context/node-red/mgmt-data/flows.json
[
    {
        "id": "953eb73365d84859",
        "type": "tab",
        "label": "vCache Manager",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "974b87f71963749f",
        "type": "tab",
        "label": "vCache Node Detail ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11df8122a3459712",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08ebeea6e2046abd",
        "type": "tab",
        "label": "Provisioning",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f6b87ae.7d3bb",
        "type": "subflow",
        "name": "List Files",
        "info": "# List files\n\nWill list files in a directory.\n\nPath can be set in `msg.payload` or by setting the `DIRECTORY` environment variable.\n\nExtensions can be filtered by settings the `EXTENSIONS` environment variable to an Array of extensions.\n",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "cf0b484b.b70c9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 40,
                "wires": [
                    {
                        "id": "13486428.bcfc4c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "DIRECTORY",
                "type": "str",
                "value": ""
            },
            {
                "name": "EXTENSIONS",
                "type": "json",
                "value": "[]"
            }
        ]
    },
    {
        "id": "19ad2b6f.f11b85",
        "type": "subflow",
        "name": "Certificate Upload",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1140,
                "y": 280,
                "wires": [
                    {
                        "id": "144a9c8f.af7e9b",
                        "port": 0
                    },
                    {
                        "id": "854a9fb8.a668a8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "UPLOAD_DIR",
                "type": "str",
                "value": "."
            },
            {
                "name": "EXTENSIONS",
                "type": "json",
                "value": "[]"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "fileWritten"
        ]
    },
    {
        "id": "38e7de2b5e7e983e",
        "type": "subflow",
        "name": "Roster Upload",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1140,
                "y": 280,
                "wires": [
                    {
                        "id": "969fd40e7d931879",
                        "port": 0
                    },
                    {
                        "id": "7da858d9b16a382f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "UPLOAD_DIR",
                "type": "str",
                "value": ""
            },
            {
                "name": "EXTENSIONS",
                "type": "json",
                "value": "[]"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "fileWritten"
        ]
    },
    {
        "id": "f20a02c6de528163",
        "type": "subflow",
        "name": "Config Upload",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1180,
                "y": 300,
                "wires": [
                    {
                        "id": "bf3f2823eed71a1a",
                        "port": 0
                    },
                    {
                        "id": "c495efc89d826399",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "UPLOAD_DIR",
                "type": "str",
                "value": ""
            },
            {
                "name": "EXTENSIONS",
                "type": "json",
                "value": "[]"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "fileWritten"
        ]
    },
    {
        "id": "052b56c89572e05e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            },
            "angularTheme": {
                "primary": "light-green",
                "accents": "light-green",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "vCache Manager",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "01520deab0927305",
        "type": "ui_tab",
        "name": "vCache Manager",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66d92f18708659f1",
        "type": "ui_group",
        "name": "vCache Nodes",
        "tab": "01520deab0927305",
        "order": 1,
        "disp": true,
        "width": 23,
        "collapse": true,
        "className": ""
    },
    {
        "id": "2bfbf363d31643c1",
        "type": "ui_group",
        "name": "Pending Nodes",
        "tab": "94c965dfa02ebec9",
        "order": 1,
        "disp": true,
        "width": "19",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2871cce383627674",
        "type": "ui_group",
        "name": "Certificate Upload",
        "tab": "66f7a7293d482a39",
        "order": 2,
        "disp": true,
        "width": 21,
        "collapse": false,
        "className": ""
    },
    {
        "id": "92ca2c694d9d5c55",
        "type": "redis-config",
        "name": "vcache_mgr_redis:6379",
        "options": "{\"host\":\"vcache_mgr_redis\",\"db\":0}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "94c965dfa02ebec9",
        "type": "ui_tab",
        "name": "Provisioning",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90cedd2a8446aa03",
        "type": "ui_group",
        "name": "Rejected Nodes",
        "tab": "94c965dfa02ebec9",
        "order": 2,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "66f7a7293d482a39",
        "type": "ui_tab",
        "name": "Configuration",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4727dacc99a4cf54",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "2bfbf363d31643c1",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "478986ae871a54b5",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "2bfbf363d31643c1",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "123792ca54b0051d",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "2bfbf363d31643c1",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "40e702f4c5323bf8",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "2bfbf363d31643c1",
        "order": 8,
        "width": "1",
        "height": "1"
    },
    {
        "id": "6681e3c614da9486",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "2bfbf363d31643c1",
        "order": 10,
        "width": 18,
        "height": 1
    },
    {
        "id": "4e176e16cfeb267d",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "90cedd2a8446aa03",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "094d9b069e4cc6a2",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "90cedd2a8446aa03",
        "order": 4,
        "width": 9,
        "height": 1
    },
    {
        "id": "bb2070c19130c87e",
        "type": "ui_spacer",
        "z": "08ebeea6e2046abd",
        "name": "spacer",
        "group": "90cedd2a8446aa03",
        "order": 6,
        "width": 18,
        "height": 1
    },
    {
        "id": "acc467dc501a1809",
        "type": "ui_group",
        "name": "Bulk Deploy",
        "tab": "94c965dfa02ebec9",
        "order": 2,
        "disp": true,
        "width": "19",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d898c7987d10b482",
        "type": "ui_group",
        "name": "System Metrics",
        "tab": "c9737b27c85dc8ad",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3a38c87d0066b087",
        "type": "ui_group",
        "name": "Cache Metrics",
        "tab": "c9737b27c85dc8ad",
        "order": 3,
        "disp": true,
        "width": "23",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3733aad54f7e21ab",
        "type": "ui_group",
        "name": "Operational Metrics",
        "tab": "c9737b27c85dc8ad",
        "order": 2,
        "disp": true,
        "width": "23",
        "collapse": true,
        "className": ""
    },
    {
        "id": "eec54565d8baf608",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e88ac2663a00983",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "f192fbd523325d83",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f02ddfe62324bf12",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "26b48d4c7ffe2e3b",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "31c0d0ccd846293b",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "51f33851e9f314fb",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "abe48f0a3351b7da",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "dbeced0bbcdf1b82",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "d898c7987d10b482",
        "order": 23,
        "width": 8,
        "height": 1
    },
    {
        "id": "07855d04ae1a599d",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "53092c76cb074669",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "96347132b4ca5565",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "506aba9b2d978670",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "6577e033836fc180",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "f0cd83dc691d90d5",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "966148d9cd87a2b7",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "cf06bc09ff31a194",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "be2da4f9b31075b5",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "33b8e213e4a82c0c",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "9d242d77effde469",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "91521814faafef75",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "31caee6027f5ef23",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "56bc5b7c9ac2f87f",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 24,
        "width": 3,
        "height": 1
    },
    {
        "id": "130901c3a36461c2",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 27,
        "width": 3,
        "height": 1
    },
    {
        "id": "ad0ef98c1936deb6",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 28,
        "width": 3,
        "height": 1
    },
    {
        "id": "c1dd620a8e84994e",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 29,
        "width": 3,
        "height": 1
    },
    {
        "id": "866e2c26417c2c7e",
        "type": "ui_spacer",
        "z": "974b87f71963749f",
        "name": "spacer",
        "group": "3a38c87d0066b087",
        "order": 30,
        "width": 3,
        "height": 1
    },
    {
        "id": "c9737b27c85dc8ad",
        "type": "ui_tab",
        "name": "Node Details",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "3a88c0294b97b966",
        "type": "ui_group",
        "name": "Config Upload",
        "tab": "66f7a7293d482a39",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee26ce9a91390b84",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 1,
        "width": 9,
        "height": 1
    },
    {
        "id": "7b83479952827ad1",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "e4402b8482fa3249",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4bbb1c69c06e90c",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "b0bdf30668b4472d",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e12ffb2bb58a223",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "d99b2c5dd4327008",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "9c4437f27f957741",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a429cab9e26b17d5",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "2871cce383627674",
        "order": 13,
        "width": 12,
        "height": 1
    },
    {
        "id": "bb4fa9b113d4ca47",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 1,
        "width": 21,
        "height": 1
    },
    {
        "id": "b1a5d80a8e5d7876",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1139e7d6d6b95652",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "8006e68399f2afcf",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "c6fd3b005aecda1d",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "e297689b2cd6ed7e",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "70703d136cf80c3d",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "52f307682f1b547e",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b0672f38dcc6993",
        "type": "ui_spacer",
        "z": "11df8122a3459712",
        "name": "spacer",
        "group": "3a88c0294b97b966",
        "order": 12,
        "width": 12,
        "height": 1
    },
    {
        "id": "208379c0.81563e",
        "type": "exec",
        "z": "4f6b87ae.7d3bb",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "13486428.bcfc4c"
            ],
            [],
            []
        ]
    },
    {
        "id": "13486428.bcfc4c",
        "type": "change",
        "z": "4f6b87ae.7d3bb",
        "name": "split and filter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t    $files := [$split(payload, '\\n')[$ != \"\"]];\t    $count($env('EXTENSIONS')) = 0 ? [$files] : [$files[$split($, '.')[-1] in $env('EXTENSIONS')]];\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cf0b484b.b70c9",
        "type": "switch",
        "z": "4f6b87ae.7d3bb",
        "name": "",
        "property": "$env('DIRECTORY')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "208379c0.81563e"
            ],
            [
                "56426a5a.fbc44c"
            ]
        ]
    },
    {
        "id": "56426a5a.fbc44c",
        "type": "change",
        "z": "4f6b87ae.7d3bb",
        "name": "DIRECTORY",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DIRECTORY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "208379c0.81563e"
            ]
        ]
    },
    {
        "id": "954c0325.f4f63",
        "type": "http in",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "url": "/fileupload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "7433a631.a7f58",
                "faf9ee8.6642a1"
            ]
        ]
    },
    {
        "id": "964d2a30.34e938",
        "type": "http response",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "1617f361.5dac2d",
        "type": "ui_template",
        "z": "19ad2b6f.f11b85",
        "group": "2871cce383627674",
        "name": "Upload",
        "order": 5,
        "width": 8,
        "height": 3,
        "format": "<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ea605dad.7b36a8",
        "type": "subflow:4f6b87ae.7d3bb",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "env": [
            {
                "name": "DIRECTORY",
                "value": "UPLOAD_DIR",
                "type": "env"
            },
            {
                "name": "EXTENSIONS",
                "value": "EXTENSIONS",
                "type": "env"
            }
        ],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "b42b38bf.d5a548"
            ]
        ]
    },
    {
        "id": "bdb6a329.8574b",
        "type": "link in",
        "z": "19ad2b6f.f11b85",
        "name": "refreshFileDropdown",
        "links": [
            "15ae2641.f1cc7a",
            "be23c76f.4a3988"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "f0813c91.8c7838"
            ]
        ]
    },
    {
        "id": "62157c1a.4444bc",
        "type": "change",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedFile",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7433a631.a7f58",
        "type": "change",
        "z": "19ad2b6f.f11b85",
        "name": "getFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & req.files[0].originalname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "63e6ebc1.1cc124"
            ]
        ]
    },
    {
        "id": "10c1284a.0e3f98",
        "type": "file",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "144a9c8f.af7e9b"
            ]
        ]
    },
    {
        "id": "af0d1f9b.6eb468",
        "type": "inject",
        "z": "19ad2b6f.f11b85",
        "name": "injection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "f0813c91.8c7838"
            ]
        ]
    },
    {
        "id": "a0bbc93d.d6f6b8",
        "type": "change",
        "z": "19ad2b6f.f11b85",
        "name": "getSelectedFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & $flowContext('selectedFile')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Delete File ?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "3e909d09.b8b5f2"
            ]
        ]
    },
    {
        "id": "854a9fb8.a668a8",
        "type": "file",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 830,
        "y": 220,
        "wires": [
            [
                "be23c76f.4a3988"
            ]
        ]
    },
    {
        "id": "3e909d09.b8b5f2",
        "type": "ui_toast",
        "z": "19ad2b6f.f11b85",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "a33238b4.01cae"
            ]
        ]
    },
    {
        "id": "a33238b4.01cae",
        "type": "switch",
        "z": "19ad2b6f.f11b85",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "854a9fb8.a668a8"
            ]
        ]
    },
    {
        "id": "b54a9427.62f75",
        "type": "catch",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "1a19fda8.e72fd2"
            ]
        ]
    },
    {
        "id": "563135cc.7b97e4",
        "type": "ui_toast",
        "z": "19ad2b6f.f11b85",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "1a19fda8.e72fd2",
        "type": "change",
        "z": "19ad2b6f.f11b85",
        "name": "getError",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "563135cc.7b97e4"
            ]
        ]
    },
    {
        "id": "be23c76f.4a3988",
        "type": "link out",
        "z": "19ad2b6f.f11b85",
        "name": "refreshAfterDelete",
        "links": [
            "bdb6a329.8574b"
        ],
        "x": 1135,
        "y": 220,
        "wires": []
    },
    {
        "id": "15ae2641.f1cc7a",
        "type": "link out",
        "z": "19ad2b6f.f11b85",
        "name": "refreshAfterUpload",
        "links": [
            "bdb6a329.8574b"
        ],
        "x": 1135,
        "y": 340,
        "wires": []
    },
    {
        "id": "faf9ee8.6642a1",
        "type": "change",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'File ' & req.files[0].originalname & ' uploaded.'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "964d2a30.34e938"
            ]
        ]
    },
    {
        "id": "f0813c91.8c7838",
        "type": "delay",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "ea605dad.7b36a8"
            ]
        ]
    },
    {
        "id": "a5f544d.69b9bb8",
        "type": "watch",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "files": "$(UPLOAD_DIR)",
        "recursive": "",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "f0813c91.8c7838"
            ]
        ]
    },
    {
        "id": "b42b38bf.d5a548",
        "type": "change",
        "z": "19ad2b6f.f11b85",
        "name": "options",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "63e6ebc1.1cc124",
        "type": "switch",
        "z": "19ad2b6f.f11b85",
        "name": "extensionAllowed ?",
        "property": "$env('EXTENSIONS')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "cont",
                "v": "$split(filename, '.')[-1]",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "10c1284a.0e3f98"
            ],
            [
                "e34d7e40.c64b5"
            ]
        ]
    },
    {
        "id": "e34d7e40.c64b5",
        "type": "function",
        "z": "19ad2b6f.f11b85",
        "name": "Error",
        "func": "node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n",
        "outputs": 0,
        "noerr": 0,
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "144a9c8f.af7e9b",
        "type": "change",
        "z": "19ad2b6f.f11b85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "15ae2641.f1cc7a"
            ]
        ]
    },
    {
        "id": "eba2f0954ffe12b6",
        "type": "http in",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "url": "/fileupload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "61bd45751b54a1c2",
                "2e2065ae0d8bc907"
            ]
        ]
    },
    {
        "id": "dabbed8599153701",
        "type": "http response",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "5a3e566e05490194",
        "type": "ui_template",
        "z": "38e7de2b5e7e983e",
        "group": "acc467dc501a1809",
        "name": "Upload",
        "order": 1,
        "width": 9,
        "height": 2,
        "format": "<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "26c8b7072bc383a2",
        "type": "subflow:4f6b87ae.7d3bb",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "env": [
            {
                "name": "DIRECTORY",
                "type": "env",
                "value": "UPLOAD_DIR"
            },
            {
                "name": "EXTENSIONS",
                "type": "env",
                "value": "EXTENSIONS"
            }
        ],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "42e0c533ebed5fc0"
            ]
        ]
    },
    {
        "id": "80bd2f6e955d6312",
        "type": "link in",
        "z": "38e7de2b5e7e983e",
        "name": "refreshFileDropdown",
        "links": [],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "02aefb78ca8e564a"
            ]
        ]
    },
    {
        "id": "0df006a7e577f2c2",
        "type": "change",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedFile",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "61bd45751b54a1c2",
        "type": "change",
        "z": "38e7de2b5e7e983e",
        "name": "getFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & req.files[0].originalname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "377db23277962311"
            ]
        ]
    },
    {
        "id": "7bb7f13bd930edd1",
        "type": "file",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "7da858d9b16a382f"
            ]
        ]
    },
    {
        "id": "0990e033d0cde6d3",
        "type": "inject",
        "z": "38e7de2b5e7e983e",
        "name": "injection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "02aefb78ca8e564a"
            ]
        ]
    },
    {
        "id": "363d9a9f03ded359",
        "type": "change",
        "z": "38e7de2b5e7e983e",
        "name": "getSelectedFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & $flowContext('selectedFile')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Delete File ?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "b73ff728bd11173e"
            ]
        ]
    },
    {
        "id": "969fd40e7d931879",
        "type": "file",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 830,
        "y": 220,
        "wires": [
            [
                "9c08d4de72757dbb"
            ]
        ]
    },
    {
        "id": "b73ff728bd11173e",
        "type": "ui_toast",
        "z": "38e7de2b5e7e983e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "30bca347a1ad8604"
            ]
        ]
    },
    {
        "id": "30bca347a1ad8604",
        "type": "switch",
        "z": "38e7de2b5e7e983e",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "969fd40e7d931879"
            ]
        ]
    },
    {
        "id": "a8eccd55a28d09b7",
        "type": "catch",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "e7e307329e4b8c35"
            ]
        ]
    },
    {
        "id": "3d95dfedb5d64efd",
        "type": "ui_toast",
        "z": "38e7de2b5e7e983e",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "e7e307329e4b8c35",
        "type": "change",
        "z": "38e7de2b5e7e983e",
        "name": "getError",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "3d95dfedb5d64efd"
            ]
        ]
    },
    {
        "id": "9c08d4de72757dbb",
        "type": "link out",
        "z": "38e7de2b5e7e983e",
        "name": "refreshAfterDelete",
        "links": [],
        "x": 1135,
        "y": 220,
        "wires": []
    },
    {
        "id": "aeda307628b93cbb",
        "type": "link out",
        "z": "38e7de2b5e7e983e",
        "name": "refreshAfterUpload",
        "links": [],
        "x": 1135,
        "y": 340,
        "wires": []
    },
    {
        "id": "2e2065ae0d8bc907",
        "type": "change",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'File ' & req.files[0].originalname & ' uploaded.'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "dabbed8599153701"
            ]
        ]
    },
    {
        "id": "02aefb78ca8e564a",
        "type": "delay",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "26c8b7072bc383a2"
            ]
        ]
    },
    {
        "id": "32b1333ca35e6891",
        "type": "watch",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "files": "$(UPLOAD_DIR)",
        "recursive": "",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "02aefb78ca8e564a"
            ]
        ]
    },
    {
        "id": "42e0c533ebed5fc0",
        "type": "change",
        "z": "38e7de2b5e7e983e",
        "name": "options",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "377db23277962311",
        "type": "switch",
        "z": "38e7de2b5e7e983e",
        "name": "extensionAllowed ?",
        "property": "$env('EXTENSIONS')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "cont",
                "v": "$split(filename, '.')[-1]",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "7bb7f13bd930edd1"
            ],
            [
                "88b6d6af40a18cf9"
            ]
        ]
    },
    {
        "id": "88b6d6af40a18cf9",
        "type": "function",
        "z": "38e7de2b5e7e983e",
        "name": "Error",
        "func": "node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n",
        "outputs": 0,
        "noerr": 0,
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "7da858d9b16a382f",
        "type": "change",
        "z": "38e7de2b5e7e983e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "aeda307628b93cbb"
            ]
        ]
    },
    {
        "id": "aae34fb846665039",
        "type": "http in",
        "z": "f20a02c6de528163",
        "name": "",
        "url": "/fileupload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "91e6cd34dc6a4637",
                "9e295ec8dfdf24df"
            ]
        ]
    },
    {
        "id": "5cdf4e1782c33b6d",
        "type": "http response",
        "z": "f20a02c6de528163",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "001f6fd4312f54ea",
        "type": "ui_template",
        "z": "f20a02c6de528163",
        "group": "3a88c0294b97b966",
        "name": "Upload",
        "order": 3,
        "width": 8,
        "height": 3,
        "format": "<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "cdbee7a0f0f485d0",
        "type": "subflow:4f6b87ae.7d3bb",
        "z": "f20a02c6de528163",
        "name": "",
        "env": [
            {
                "name": "DIRECTORY",
                "type": "env",
                "value": "UPLOAD_DIR"
            },
            {
                "name": "EXTENSIONS",
                "type": "env",
                "value": "EXTENSIONS"
            }
        ],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "6e499ecb6669bb3f"
            ]
        ]
    },
    {
        "id": "65860b0ff2045146",
        "type": "link in",
        "z": "f20a02c6de528163",
        "name": "refreshFileDropdown",
        "links": [],
        "x": 75,
        "y": 160,
        "wires": [
            [
                "bea836c4ed6eaa3b"
            ]
        ]
    },
    {
        "id": "6bda7659155f0c58",
        "type": "change",
        "z": "f20a02c6de528163",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedFile",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "91e6cd34dc6a4637",
        "type": "change",
        "z": "f20a02c6de528163",
        "name": "getFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & req.files[0].originalname",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "c2c986c4a1921800"
            ]
        ]
    },
    {
        "id": "45fb57425c4d041e",
        "type": "file",
        "z": "f20a02c6de528163",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "bf3f2823eed71a1a"
            ]
        ]
    },
    {
        "id": "2ea44be0482db5d7",
        "type": "inject",
        "z": "f20a02c6de528163",
        "name": "injection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "bea836c4ed6eaa3b"
            ]
        ]
    },
    {
        "id": "7cf7c3c34a090075",
        "type": "change",
        "z": "f20a02c6de528163",
        "name": "getSelectedFile",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$env('UPLOAD_DIR')  & '/' & $flowContext('selectedFile')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Delete File ?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "9dd1ae344dad5701"
            ]
        ]
    },
    {
        "id": "c495efc89d826399",
        "type": "file",
        "z": "f20a02c6de528163",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "7b85e3338a999c8d"
            ]
        ]
    },
    {
        "id": "9dd1ae344dad5701",
        "type": "ui_toast",
        "z": "f20a02c6de528163",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "1fd593e14302f6b4"
            ]
        ]
    },
    {
        "id": "1fd593e14302f6b4",
        "type": "switch",
        "z": "f20a02c6de528163",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "c495efc89d826399"
            ]
        ]
    },
    {
        "id": "64cb05eb805a65d2",
        "type": "catch",
        "z": "f20a02c6de528163",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "527ce43b6cd1ba1d"
            ]
        ]
    },
    {
        "id": "a022571e1c81cb9b",
        "type": "ui_toast",
        "z": "f20a02c6de528163",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "527ce43b6cd1ba1d",
        "type": "change",
        "z": "f20a02c6de528163",
        "name": "getError",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "a022571e1c81cb9b"
            ]
        ]
    },
    {
        "id": "7b85e3338a999c8d",
        "type": "link out",
        "z": "f20a02c6de528163",
        "name": "refreshAfterDelete",
        "links": [],
        "x": 1135,
        "y": 240,
        "wires": []
    },
    {
        "id": "52c6b425a46f0428",
        "type": "link out",
        "z": "f20a02c6de528163",
        "name": "refreshAfterUpload",
        "links": [],
        "x": 1135,
        "y": 360,
        "wires": []
    },
    {
        "id": "9e295ec8dfdf24df",
        "type": "change",
        "z": "f20a02c6de528163",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'File ' & req.files[0].originalname & ' uploaded.'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "5cdf4e1782c33b6d"
            ]
        ]
    },
    {
        "id": "bea836c4ed6eaa3b",
        "type": "delay",
        "z": "f20a02c6de528163",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "cdbee7a0f0f485d0"
            ]
        ]
    },
    {
        "id": "36dc7c028c6b0072",
        "type": "watch",
        "z": "f20a02c6de528163",
        "name": "",
        "files": "$(UPLOAD_DIR)",
        "recursive": "",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "bea836c4ed6eaa3b"
            ]
        ]
    },
    {
        "id": "6e499ecb6669bb3f",
        "type": "change",
        "z": "f20a02c6de528163",
        "name": "options",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c2c986c4a1921800",
        "type": "switch",
        "z": "f20a02c6de528163",
        "name": "extensionAllowed ?",
        "property": "$env('EXTENSIONS')",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "cont",
                "v": "$split(filename, '.')[-1]",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "45fb57425c4d041e"
            ],
            [
                "82f2868e5d916fc4"
            ]
        ]
    },
    {
        "id": "82f2868e5d916fc4",
        "type": "function",
        "z": "f20a02c6de528163",
        "name": "Error",
        "func": "node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n",
        "outputs": 0,
        "noerr": 0,
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf3f2823eed71a1a",
        "type": "change",
        "z": "f20a02c6de528163",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "52c6b425a46f0428"
            ]
        ]
    },
    {
        "id": "530b57a13f57ac7e",
        "type": "inject",
        "z": "953eb73365d84859",
        "name": "init 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "start",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "9c1cae2c8cd579f1",
                "8b6caa4128b0ab62"
            ]
        ]
    },
    {
        "id": "466978b03cbfdd40",
        "type": "inject",
        "z": "953eb73365d84859",
        "name": "poll 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "e573f44cd6952735"
            ]
        ]
    },
    {
        "id": "368b5ea2907b5488",
        "type": "ui_ui_control",
        "z": "953eb73365d84859",
        "name": "Refresh",
        "events": "all",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "27eedc6ffafb236a"
            ]
        ]
    },
    {
        "id": "cc06064e8a1e4629",
        "type": "inject",
        "z": "953eb73365d84859",
        "name": "init 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "change",
        "payloadType": "str",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "27eedc6ffafb236a"
            ]
        ]
    },
    {
        "id": "27eedc6ffafb236a",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "refresh table",
        "func": "if ([\"connect\", \"change\"].includes(msg.payload)) {\n  const fields = [\"node\", \"status\", \"cpu_use_pct\", \"mem_use_pct\", \"client_bw\", \"upstream_bw\", \"users\",\"cache_eff\", ]\n  const dataSorted =\n    \"function (sorters, rows) { const ret = sorters.map((item) => { return { column: item.field, dir: item.dir }});const ids = rows.map((item)=>item.getData().id);this.send({payload:{sorters:ret,ids}});}\";\n  const rowContext = \"function (e, row) { e.preventDefault(); console.log(\\\"Row right clickt! \\\", row.getData());console.log(\\\"e event:\\\", e); this.send({payload: {row: row.getData(), clientX: e.clientX, clientY: e.clientY}});}\";\n  const rowSelect = \"function (e, row) { e.preventDefault(); console.log(\\\"Row double clickt! \\\", row.getData());console.log(\\\"e event:\\\", e); this.send({payload: {row: row.getData(), rowDoubleClick: true}});}\";\n  const effLegend = \"function (value) { return (value >= 0) ? '&nbsp;&nbsp;' + value + ' %' : '-'; }\";\n  const statusColor = \"function (value) { if (value==0) return 'lightgray'; if (value==1) return 'springgreen'; if (value==2) return 'gold'; if (value==3) return 'red'; return 'black';}\";\n  const useColor = \"function (value) { if (value > 90) return 'red'; if (value > 80) return 'gold'; return 'limegreen';}\";\n  msg = {}; \n  msg.refresh = true\n  msg.payload = []\n  msg.ui_control = {\n    tabulator: {\n      rowContext: rowContext,\n      rowDblClick: rowSelect,\n      initialSort: (global.get(\"nodeSort\", \"file\") || {}).sorters || [],\n      dataSorted,\n      columns: [\n//        {\n//          field: \"id\",\n//          title: \"&nbsp;ID\",\n//          align: \"center\",\n//          sorter: \"number\",\n//          width: 45,\n//        },\n        {\n          field: \"node\",\n          title: \"&nbsp;Node\",\n          align: \"left\",\n          sorter: \"string\",\n          width: 240,\n        },\n        {\n          field: \"status\",\n          title: \"&nbsp;Status\",\n          align: \"center\",\n          formatter: \"traffic\",\n          formatterParams: {\n            color: statusColor,\n          },\n          sorter: \"string\",\n          width: 94,\n        },\n        {\n          field: \"uptime\",\n          title: \"&nbsp;Uptime\",\n          align: \"center\",\n          sorter: \"string\",\n          width: 115,\n        },\n        {\n          field: \"cpu_use_pct\",\n          title: \"&nbsp;&nbsp;CPU\",\n          align: \"left\",\n          formatter: \"progress\",\n          formatterParams: {\n            legend: effLegend,\n            legendColor: \"#ffffff\",\n            legendAlign: \"center\",\n            color: useColor\n          },\n          sorter: \"number\",\n          width: 88,\n        }, \n        {\n          field: \"mem_use_pct\",\n          title: \"&nbsp;&nbsp;RAM\",\n          align: \"left\",\n          formatter: \"progress\",\n          formatterParams: {\n            legend: effLegend,\n            legendColor: \"#ffffff\",\n            legendAlign: \"center\",\n            color: useColor\n          },\n          sorter: \"number\",\n          width: 88,\n        },\n        {\n          field: \"disk_use_pct\",\n          title: \"&nbsp;&nbsp;HD\",\n          align: \"left\",\n          formatter: \"progress\",\n          formatterParams: {\n            legend: effLegend,\n            legendColor: \"#ffffff\",\n            legendAlign: \"center\",\n            color: useColor\n          },\n          sorter: \"number\",\n          width: 88,\n        },\n        {\n          field: \"client_bw\",\n          title: \"&nbsp;BW &#129095;\",\n          align: \"center\",\n          sorter: \"number\",\n          width: 92,\n        }, \n        {\n          field: \"upstream_bw\",\n          title: \"&nbsp;BW &#129093;\",\n          align: \"center\",\n          sorter: \"number\",\n          width: 92,\n        },\n        {\n          field: \"users\",\n          title: \"&nbsp;Users\",\n          align: \"center\",\n          sorter: \"number\",\n          width: 85,\n        },\n        {\n          field: \"cache_eff\",\n          title: \"&nbsp;&nbsp;Cache Eff\",\n          align: \"left\",\n          formatter: \"progress\",\n          formatterParams: {\n            legend: effLegend,\n            legendColor: \"#ffffff\",\n            legendAlign: \"center\",\n          },\n          sorter: \"number\",\n        },\n      ],\n    },\n  }\n  return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "567783dfb28f09df",
                "c347b6521867b6fb"
            ]
        ]
    },
    {
        "id": "c347b6521867b6fb",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "node table manager",
        "func": "///////////////\n// Functions //\n///////////////\n\nfunction byKey(obj) {\n  return function (item) {\n    return item.node === obj.node;\n  }\n}\n\nfunction byVal(val) {\n  return function (item) {\n    return item == val;\n  }\n}\n\n// Row object going to table\nfunction makeObj(obj) {\n  const colors = [\"#C8E6C8\", \"#64A064\", \"#1E461E\"]\n  const idx = obj.cache_eff < 25 ? 0 : obj.cache_eff < 50 ? 1 : 2\n  obj.displayEff = `<font color=\"${colors[idx]}\">${obj.cache_eff}</font>`\n  return obj\n}\n\n// Parameterized array sort function\nfunction sorterFactory(obj) {\n  let { column, dir } = obj[0]\n  column = column === \"displayEff\" ? \"cache_eff\" : column\n  return function sorter(itemA, itemB) {\n    const a = itemA[column]\n    const b = itemB[column]\n    const factor = dir === \"asc\" ? +1 : -1\n    return a < b ? -1 * factor : a > b ? +1 * factor : 0\n  }\n}\n\n// find the next available index of make a new one\nfunction findNextId(store) {\n  const list = [...store].sort((a, b) => a.id - b.id);\n\n  let nextId = 0;\n\n  for (const item of list) {\n    const id = item.id;\n    if (id == nextId) {\n      nextId++;\n    } else if (id > nextId) {\n      break;\n    }\n  }\n  return nextId;\n}\n\n// find the next available index of make a new one\nfunction findNextIdx(store) {\n  const list = [...store].sort((a, b) => a - b);\n\n  let nextVal = 0;\n\n  for (const val of list) {\n    if (val == nextVal) {\n      nextVal++;\n    } else if (val > nextVal) {\n      break;\n    }\n  }\n  return nextVal;\n}\n\n// Sort data store based on selected table sort\nfunction sortStore(sort, data) {\n  if (!sort || !sort.hasOwnProperty(\"sorters\") || !sort.sorters.length) {\n    node.error(\"sortStore: sort store error\");\n    return\n  }\n  data.sort(sorterFactory(sort.sorters))\n  var i;\n  for (i = 0; i < data.length; i++) {\n    if (i < sort.ids.length) {\n      data[i].id = sort.ids[i];\n    } else {\n      data[i].id = sort.ids[i] = findNextIdx(sort.ids);\n      node.warn(\"sortStore: new index not in nodeSort: \" + data[i].id)\n    }\n  }\n  if (sort.ids.length > i) {\n    let n = sort.ids.length - i;\n    node.warn(\"sortStore: trimming nodeSort: \" + n + \" (\" + i + \" to \" + (sort.ids.length-1) + \")\")\n    sort.ids.splice(-n, n);\n  }\n}\n/**\n * Set a key in Redis with an expiration time in seconds using a callback.\n * @param {string} key - The key to set.\n\n */\nasync function testDelKey(key) {\n  // Set the key with the specified value and expiration time\n  let exists = await redis.exists(key);\n  return exists;\n}\n\n////////////////\n// Processing //\n////////////////\nconst redis = global.get(\"redis\", \"file\");\nconst promisify = (fn) => {\n  return (...args) => {\n    return new Promise((resolve, reject) => {\n      fn(...args, function (err, res) {\n        if (err) {\n          return reject(err);\n        }\n        return resolve(res);\n      })\n    })\n  }\n}\nconst existsAsync = promisify(redis.exists).bind(redis);\n\nlet data_store = global.get(\"nodeData\", \"file\") || [];\nlet sort_store = global.get(\"nodeSort\", \"file\") || [];\n\nif (msg.refresh) {\n  return { payload: data_store };\n}\n\nif (Array.isArray(msg.payload)) { // process table data update or add\n  for (let in_row of msg.payload) {\n    in_row = makeObj(in_row) // This is the row that is sent to table\n    let row_data = data_store.find(byKey(in_row));\n    if (!row_data) {\n      const key = \"vcache_node:\" + in_row.node + \":\" + in_row.uuid;\n      if (await testDelKey(\"delete:\" + key)) {\n        node.warn(\"table mgr: new node was deleted: waiting: \" + in_row.node);\n        redis.del(key, function (err, reply) {\n          if (err) {\n            node.error(\"Error deleting key(\" + reply + \"): \", err);\n          } else {\n            node.warn(\"table mgr: node deleted from redis: \" + key)\n          }\n        });\n      } else {\n        in_row.id = findNextId(data_store);\n        node.warn(\"table mgr: node not in data store: \" + in_row.node + \" new id: \" + in_row.id);\n        data_store.push(in_row) // Append to store\n      }\n    } else {\n      Object.assign(row_data, in_row) // Update store (row_data is an item of mutable array)\n    }\n  }\n  for (let row of data_store) {\n    let rindx = msg.payload.findIndex(byKey(row));\n    if (rindx < 0) {\n      node.warn(\"table mgr: data store entry not in payload: \" + row.node + \" (\" + row.id + \") - SHOULD DELETE\");\n    }\n  }\n  sortStore(sort_store, data_store);\n  msg.payload = {\n    command: \"updateOrAddData\",\n    arguments: [data_store],\n  };\n} else { // process single message - delete\n  // When dashboard is reloaded or when flows start, display last table state\n  let row = msg.payload;\n  if (row.delete) {\n    let idx = data_store.findIndex(byKey(row));\n    if (idx >=0) {\n      data_store.splice(idx, 1);\n      let sidx = sort_store.ids.findIndex(byVal(row.id));\n      if (sidx>=0) {\n        sort_store.ids.splice(sidx, 1);\n      } else {\n        node.warn(\"table mgr: delete: id not found in sort store: \" + row.node + \" (\" + row.id + \"}\"); \n      }\n    } else {\n      node.warn(\"table mgr: delete: node not found in data store: \" + row.node + \" (\" + row.id + \"}\");\n    }\n    msg.payload = {\n      command: \"deleteRow\",\n      arguments: [row.id],\n    };\n  } else {\n    node.warn(\"table mgr: unrecognized message: \" + JSON.stringify(row));\n  }\n}\n\nglobal.set(\"nodeData\", data_store, \"file\");\nglobal.set(\"nodeSort\", sort_store, \"file\");\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "clone",
                "module": "clone"
            }
        ],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "567783dfb28f09df"
            ]
        ]
    },
    {
        "id": "567783dfb28f09df",
        "type": "ui_table",
        "z": "953eb73365d84859",
        "group": "66d92f18708659f1",
        "name": "Nodes",
        "order": 1,
        "width": 23,
        "height": 8,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "05143c60bda4315f"
            ]
        ]
    },
    {
        "id": "ce2ff155071f51ec",
        "type": "switch",
        "z": "953eb73365d84859",
        "name": "Non-empty sorter?",
        "property": "payload.ids.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 420,
        "wires": [
            [],
            [
                "11e6118b3d66d8ed"
            ]
        ],
        "outputLabels": [
            "Yes",
            ""
        ]
    },
    {
        "id": "17f908c5c029e02d",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "re-init table",
        "func": "global.set(\"nodeData\", [], \"nodes\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3a60dfa8e2ea231a",
        "type": "inject",
        "z": "953eb73365d84859",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "17f908c5c029e02d"
            ]
        ]
    },
    {
        "id": "e573f44cd6952735",
        "type": "redis-command",
        "z": "953eb73365d84859",
        "server": "92ca2c694d9d5c55",
        "command": "KEYS",
        "name": "vcache nodes",
        "topic": "vcache_node:*:*",
        "params": "",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "3a9bce3d609e11ce"
            ]
        ]
    },
    {
        "id": "f886bb801a5b9919",
        "type": "redis-instance",
        "z": "953eb73365d84859",
        "server": "92ca2c694d9d5c55",
        "name": "vcache_mgr_redis",
        "topic": "redis",
        "location": "global",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "3a9bce3d609e11ce",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "nodes from table",
        "func": "const redis = global.get('redis'); // Assumes Redis client is globally available\nconst now = Date.now();\nvar table = [];\n/**\n* 3 - CRIT, 2 - WARN, 1 - OK, 0 - UNKNOWN\n* @param {string | number | Date} stamp\n* @param {number} now\n* @param {number} cpu\n* @param {number} mem\n* @param {number} disk\n*/\nfunction calc_status(now, stamp, cpu, mem, disk) {\n    const stamp_ms = new Date(stamp).getTime();\n    const diff = (now - stamp_ms) / 1000;\n    if (diff > 30) return 0;\n    if (cpu > 90 || mem > 90 || disk > 90) return 3;\n    if (cpu > 80 || mem > 80 || disk > 80) return 2;\n    return 1;\n}\n\n// Function to retrieve hash objects for each key\nfunction get_nodes(keys, callback) {\n    let count = 0;\n    keys.forEach(function (key) {\n        redis.hgetall(key, function (err, hash) {\n            if (err) {\n                callback(err);\n                return;\n            }\n            \n            hash.node = hash.id;\n            delete hash.id;\n\n            hash.status = calc_status(now, hash._stamp, hash.cpu_use_pct, hash.mem_use_pct, hash.disk_use_pct);\n            if (hash.status == 0) {\n                hash.cache_eff = -1;\n                hash.cpu_use_pct = -1;\n                hash.mem_use_pct = -1;\n                hash.disk_use_pct = -1;\n                hash.client_bw = NaN;\n                hash.upstream_bw = NaN;\n                hash.users = NaN;\n                hash.uptime = \"\";\n            } else {\n                hash.cache_eff = parseInt(hash.cache_eff_pct);\n                hash.mem_use_pct = parseFloat(hash.mem_use_pct);\n                hash.cpu_use_pct = parseFloat(hash.cpu_use_pct);\n                hash.disk_use_pct = parseFloat(hash.disk_use_pct);\n                hash.client_bw = parseInt(hash.client_bw);\n                hash.upstream_bw = parseInt(hash.upstream_bw);\n                hash.users = parseInt(hash.client_sess);\n            }\n            table.push(hash);\n            count++;\n            if (count >= keys.length) {\n                callback(null,table);\n            }\n        });\n    });\n}\n\nfunction sort_arr(in_arr) {\n    const arr = [...in_arr].sort((a, b) => {\n        const A = a.node.toLowerCase();\n        const B = b.node.toLowerCase();\n        if (A < B) return -1;\n        if (A > B) return 1;\n        return 0;\n    });\n    return arr;\n}\n\n// Main function\nget_nodes(msg.payload, function (err, nodes) {\n    if (err) {\n        node.error(err);\n        return;\n    }\n//  table = nodes.map((/** @type {{ id: string; cache_eff_pct: string; client_sess: string; client_bw: string; upstream_bw: string; }} */ n) => ({\n//       \"node\": n.id.toLowerCase(),\n//       \"status\": \"up\".toUpperCase(),\n//        \"cache_eff\": parseInt(n.cache_eff_pct) == 0 ? 1 : parseInt(n.cache_eff_pct),\n//        \"client_bw\": parseInt(n.client_bw),\n//        \"upstream_bw\": parseInt(n.upstream_bw),\n//        \"users\": parseInt(n.client_sess),\n//    }));\n    msg.payload = nodes;\n    node.send(msg);\n});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "c347b6521867b6fb"
            ]
        ]
    },
    {
        "id": "da2988f368c4b510",
        "type": "ui_context_menu",
        "z": "953eb73365d84859",
        "group": "66d92f18708659f1",
        "order": 2,
        "width": 0,
        "height": 0,
        "fontSize": 16,
        "inputPositionXField": "payload.clientX",
        "inputPositionXType": "msg",
        "inputPositionYField": "payload.clientY",
        "inputPositionYType": "msg",
        "outputField": "payload",
        "inputMenuField": "menu",
        "inputMenuType": "fixed",
        "menuItems": [
            {
                "id": "",
                "icon": "",
                "label": "Details",
                "topic": "",
                "payload": "",
                "payloadType": "str",
                "visible": true,
                "enabled": true
            },
            {
                "id": "",
                "icon": "",
                "label": "Delete",
                "topic": "",
                "payload": "",
                "payloadType": "str",
                "visible": true,
                "enabled": true
            }
        ],
        "colors": "theme",
        "textColor": "#000000",
        "backgroundColor": "#ffffff",
        "borderColor": "#626262",
        "intervalLength": 0,
        "intervalUnit": "secs",
        "startTimerAtOpen": false,
        "startTimerAtLeave": true,
        "stopTimerAtEnter": true,
        "name": "RowCtxMenu",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "ac59be7fa2383fc7"
            ]
        ]
    },
    {
        "id": "05143c60bda4315f",
        "type": "switch",
        "z": "953eb73365d84859",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "sorters",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "rowDoubleClick",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "clientX",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 440,
        "wires": [
            [
                "ce2ff155071f51ec"
            ],
            [
                "11dd7f1faf822026"
            ],
            [
                "da2988f368c4b510"
            ]
        ]
    },
    {
        "id": "f773b77e37a40bb6",
        "type": "uuid",
        "z": "953eb73365d84859",
        "uuidVersion": "v4",
        "namespaceType": "custom",
        "namespace": "VIVOH_CACHE",
        "namespaceCustom": "VIVOH",
        "name": "UUID (gen)",
        "field": "payload",
        "fieldType": "msg",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "51ab9183e6c445ee",
                "03470a367efdaf2e"
            ]
        ]
    },
    {
        "id": "51ab9183e6c445ee",
        "type": "file",
        "z": "953eb73365d84859",
        "name": "",
        "filename": "/var/run/vcache-mgr.uuid",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 750,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9c1cae2c8cd579f1",
        "type": "fs-ops-access",
        "z": "953eb73365d84859",
        "name": "vcache.mgr uuid",
        "path": "/var/run",
        "pathType": "str",
        "filename": "vcache-mgr.uuid",
        "filenameType": "str",
        "read": true,
        "write": true,
        "throwerror": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "ac931b189bcafeb4"
            ],
            [
                "f773b77e37a40bb6"
            ]
        ]
    },
    {
        "id": "8b6caa4128b0ab62",
        "type": "fs-ops-access",
        "z": "953eb73365d84859",
        "name": "vcache.mgr version",
        "path": "/var/run/",
        "pathType": "str",
        "filename": "vcache-mgr.version",
        "filenameType": "str",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "28e546a9e90ffb1f"
            ],
            []
        ]
    },
    {
        "id": "05bef2ebd6355241",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "set global version",
        "func": "global.set(\"version\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "28e546a9e90ffb1f",
        "type": "file in",
        "z": "953eb73365d84859",
        "name": "vcache mgr version",
        "filename": "/var/run/vcache.version",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "05bef2ebd6355241"
            ]
        ]
    },
    {
        "id": "03470a367efdaf2e",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "UUID (object)",
        "func": "msg.payload = { \"uuid\": msg.payload.replace(/\\n+$/, '')};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "c5ba86245edf6da7"
            ]
        ]
    },
    {
        "id": "ac931b189bcafeb4",
        "type": "file in",
        "z": "953eb73365d84859",
        "name": "vcache mgr uuid",
        "filename": "/var/run/vcache-mgr.uuid",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "03470a367efdaf2e"
            ]
        ]
    },
    {
        "id": "c5ba86245edf6da7",
        "type": "redis out",
        "z": "953eb73365d84859",
        "hostname": "vcache_mgr_redis",
        "port": 6379,
        "name": "UUID (out)",
        "key": "vcache_mgr",
        "structtype": "hash",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "ac59be7fa2383fc7",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "handle context menu",
        "func": "msg.topic = msg.payload.toLowerCase();\nif (msg.topic === 'delete') {\n    const node_id = msg.sourceMsg.payload.row.node;\n    msg.payload = \"salt-key -y -d \" + node_id;\n} else if (msg.topic === 'accept') {\n    const node_id = msg.sourceMsg.payload.row.node;\n    msg.payload = \"salt-key -y -a \" + node_id;\n} else if (msg.topic === 'details') {\n    msg.payload.row = msg.sourceMsg.payload.row;\n} else {\n    msg.topic = null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "7ede68d2930d2f9d"
            ]
        ]
    },
    {
        "id": "dedbd31c5db0034f",
        "type": "exec",
        "z": "953eb73365d84859",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 930,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7ede68d2930d2f9d",
        "type": "switch",
        "z": "953eb73365d84859",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "details",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "accept",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "delete",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 560,
        "wires": [
            [
                "11dd7f1faf822026"
            ],
            [
                "dedbd31c5db0034f"
            ],
            [
                "b9e49c705dadd4fc",
                "dedbd31c5db0034f"
            ]
        ]
    },
    {
        "id": "b9e49c705dadd4fc",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "delete node from table",
        "func": "/**\n * Set a key in Redis with an expiration time in seconds using a callback.\n * @param {string} key - The key to set.\n * @param {string} value - The value to set.\n * @param {number} seconds - The expiration time in seconds.\n */\nfunction setDelKey(key, value, seconds) {\n    // Set the key with the specified value and expiration time\n    redis.set(key, value, 'EX', seconds, (error, result) => {\n        if (error) {\n            node.error(\"setDeKey: error setting key: \" + key +\" : \" + error.message);\n        }\n    });\n}\n\nconst redis = global.get('redis'); // Assumes Redis client is globally available\n\nconst row = msg.sourceMsg.payload.row;\nconst key = \"vcache_node:\" + row.node + \":\" + row.uuid;\n\nsetDelKey(\"delete:\" + key, true, 15); // set hold off timer before accepting this node again\n\nredis.del(key, function (err, reply) {\n    if (err) {\n        node.error(\"Error deleting key(\" + reply + \"): \", err );\n    } else {\n        row.delete = true;\n        msg.payload = row\n        node.send(msg);\n        node.warn(\"node delete: node deleted from redis: \" + key)\n    }\n});\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 600,
        "wires": [
            [
                "c347b6521867b6fb"
            ]
        ]
    },
    {
        "id": "11e6118b3d66d8ed",
        "type": "change",
        "z": "953eb73365d84859",
        "name": "Save sort",
        "rules": [
            {
                "t": "set",
                "p": "nodeSort",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e054d7063c78836e",
        "type": "inject",
        "z": "953eb73365d84859",
        "name": "init 0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "bb8e27c46b8ff662"
            ]
        ]
    },
    {
        "id": "bb8e27c46b8ff662",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "global functions",
        "func": "const util = (function () {\n    'use strict';\n\n    function add(a, b) {\n        return a + b;\n    }\n\n    return {\n        add: add\n    };\n\n}());\n\nglobal.set('util', util);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "11dd7f1faf822026",
        "type": "function",
        "z": "953eb73365d84859",
        "name": "row select",
        "func": "const row = msg.payload.row;\nglobal.set(\"nodeSelected\", row, \"file\");\nmsg.payload = \"Node Details\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 460,
        "wires": [
            [
                "04aa2ba4afb084b6"
            ]
        ]
    },
    {
        "id": "04aa2ba4afb084b6",
        "type": "ui_ui_control",
        "z": "953eb73365d84859",
        "name": "",
        "events": "all",
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "67ba704c78cb72a4"
            ]
        ]
    },
    {
        "id": "67ba704c78cb72a4",
        "type": "link out",
        "z": "953eb73365d84859",
        "name": "node detail trigger",
        "mode": "link",
        "links": [
            "f80372ff84e69aab"
        ],
        "x": 1205,
        "y": 460,
        "wires": []
    },
    {
        "id": "50f9790b.49c718",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "varnish uptime",
        "func": "msg.payload = msg.payload.uptime\nmsg.topic = \"uptime\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "4f6abcf.71f1a44"
            ]
        ]
    },
    {
        "id": "4f6abcf.71f1a44",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "UpTime: ",
        "format": "<font size=3>{{msg.payload}}</font>",
        "layout": "row-left",
        "className": "def",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "c0a13984a398e6d7",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "CPU Historic",
        "group": "d898c7987d10b482",
        "order": 14,
        "width": 7,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "18c68b74898c536f",
        "type": "ui_gauge",
        "z": "974b87f71963749f",
        "name": "",
        "group": "d898c7987d10b482",
        "order": 3,
        "width": 7,
        "height": 3,
        "gtype": "gage",
        "title": "RAM",
        "label": "",
        "format": "{{msg.payload| number:1}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "90",
        "diff": false,
        "className": "def",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "fbc058e4a2725b9d",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 7,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Version: ",
        "format": "<font size=3>{{msg.payload}}</font>",
        "layout": "row-left",
        "className": "def",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "f4aa44582aec2ee6",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 17,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Memory:  ",
        "format": "<font size=3>{{msg.value}}</font>",
        "layout": "row-left",
        "className": "def",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "b47ed9d6965cf619",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "mem total",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\nmsg.value = formatBytes(msg.payload.mem_total);\nmsg.payload = msg.payload.mem_total;\nmsg.topic = \"mem_total\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "f4aa44582aec2ee6"
            ]
        ]
    },
    {
        "id": "f29cd079ba2bd3e7",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "disk use %",
        "func": "msg.payload = msg.payload.disk_use_pct;\nmsg.topic = \"disk_use_pct\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 600,
        "wires": [
            [
                "b833a78279a06e8c"
            ]
        ]
    },
    {
        "id": "b833a78279a06e8c",
        "type": "ui_gauge",
        "z": "974b87f71963749f",
        "name": "",
        "group": "d898c7987d10b482",
        "order": 15,
        "width": 7,
        "height": 3,
        "gtype": "gage",
        "title": "HD",
        "label": "",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "90",
        "diff": false,
        "className": "def",
        "x": 610,
        "y": 600,
        "wires": []
    },
    {
        "id": "abbb31eb4b46bee5",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "mem used",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.mem_use);\nmsg.payload = msg.payload.mem_use;\nmsg.topic = \"mem_use\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "3fe4b364fdaec2bb"
            ]
        ]
    },
    {
        "id": "3fe4b364fdaec2bb",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 11,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Used: ",
        "format": "{{msg.value}}",
        "layout": "row-center",
        "className": "def",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "2bd8b9bfd2a1d534",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 10,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Load: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "def",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "39b8930ee2a9adf4",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "load avgs",
        "func": "msg.payload = msg.payload.cpu_load_avg;\nmsg.topic = \"cpu_load_avg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "2bd8b9bfd2a1d534"
            ]
        ]
    },
    {
        "id": "53516185218f0489",
        "type": "ui_gauge",
        "z": "974b87f71963749f",
        "name": "CPU use",
        "group": "d898c7987d10b482",
        "order": 2,
        "width": 7,
        "height": 3,
        "gtype": "gage",
        "title": "CPU",
        "label": "",
        "format": "{{value | number:1}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "90",
        "diff": false,
        "className": "def",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "1faa30a4e47251a1",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "cpu model",
        "func": "msg.payload = msg.payload.cpu_model\nmsg.topic = \"cpu_model\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "51ccb23cb43f7af2"
            ]
        ]
    },
    {
        "id": "08c2a1b541a459f7",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "cpu cores",
        "func": "msg.payload = msg.payload.cpu_cores;\nmsg.topic = \"cpu_cores\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "68105b12b908d0f4"
            ]
        ]
    },
    {
        "id": "51ccb23cb43f7af2",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 9,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "CPU: ",
        "format": "<font size=3>{{msg.payload}}</font>",
        "layout": "row-left",
        "className": "def",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "68105b12b908d0f4",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 13,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Cores: ",
        "format": "<font size=3>{{msg.payload}}</font>",
        "layout": "row-left",
        "className": "def",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "d6fd568602fabf48",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 19,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Disk: ",
        "format": "<font size=3>{{msg.value}}</font>",
        "layout": "row-left",
        "className": "def",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "11b451e51ccf5739",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 21,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Used: ",
        "format": "{{msg.value}}",
        "layout": "row-center",
        "className": "def",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "cc0bb701d1ad35db",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "disk used",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.disk_use);\nmsg.payload = msg.payload.disk_use;\nmsg.topic = \"disk_use\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "11b451e51ccf5739"
            ]
        ]
    },
    {
        "id": "2c4efc4e2ad833bb",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "disk size",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\nmsg.value = formatBytes(msg.payload.disk_total)\nmsg.payload = msg.payload.disk_total\nmsg.topic = \"disk_total\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "d6fd568602fabf48"
            ]
        ]
    },
    {
        "id": "cc60b6c3e5fb14d9",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "d898c7987d10b482",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Host: ",
        "format": "<font size=3>{{msg.payload}}</font>",
        "layout": "row-left",
        "className": "def",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "d23168e787472af1",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "hostname",
        "func": "msg.payload = msg.payload.hostname;\nmsg.topic = \"hostname\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "cc60b6c3e5fb14d9"
            ]
        ]
    },
    {
        "id": "da0aa089ba25ac3d",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "mem use %",
        "func": "msg.payload = msg.payload.mem_use_pct;\nmsg.topic = \"mem_use_pct\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "18c68b74898c536f"
            ]
        ]
    },
    {
        "id": "e1e13788026a662b",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "vcache version",
        "func": "msg.payload = msg.payload.version\nmsg.topic =\"version\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "fbc058e4a2725b9d"
            ]
        ]
    },
    {
        "id": "f706757e6c338f82",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "cpu use %",
        "func": "msg.payload = msg.payload.cpu_use_pct;\nmsg.topic = \"cpu_use_pct\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "53516185218f0489",
                "c0a13984a398e6d7"
            ]
        ]
    },
    {
        "id": "913fe8919ba03de2",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "Upstream Requests Rate",
        "group": "3a38c87d0066b087",
        "order": 26,
        "width": 10,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "1572697106f6a1f2",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3a38c87d0066b087",
        "order": 23,
        "width": 10,
        "height": 1,
        "name": "Upstream Request Rate",
        "label": "Upstream Request Rate: ",
        "format": "{{msg.rate|number:2}} {{msg.units}}rps",
        "layout": "row-center",
        "className": "def",
        "x": 670,
        "y": 1460,
        "wires": []
    },
    {
        "id": "b782bf2ea349a4a5",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "Upstream Bandwidth",
        "group": "3a38c87d0066b087",
        "order": 25,
        "width": 10,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "1486b40a42209109",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3a38c87d0066b087",
        "order": 22,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Upstream Bandwidth: ",
        "format": "{{msg.rate}} {{msg.units}}bps",
        "layout": "row-center",
        "className": "def",
        "x": 660,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a4f1c41a459e65ab",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "Client Request Rate",
        "group": "3a38c87d0066b087",
        "order": 17,
        "width": 10,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "8c62fec7f80f063e",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3a38c87d0066b087",
        "order": 14,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Delivered Request Rate: ",
        "format": "{{msg.rate | number:2}} {{msg.units}}rps",
        "layout": "row-center",
        "className": "def",
        "x": 670,
        "y": 1280,
        "wires": []
    },
    {
        "id": "68d7914dad783e4e",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "Client Request Efficiency",
        "group": "3a38c87d0066b087",
        "order": 8,
        "width": 10,
        "height": 4,
        "label": "Cache Efficiency <font size=3>[requests]</font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "bc9d6c02c0ee9e5b",
        "type": "ui_gauge",
        "z": "974b87f71963749f",
        "name": "Client Request Efficiency",
        "group": "3a38c87d0066b087",
        "order": 2,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "HIT %",
        "format": "{{value|number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "def",
        "x": 670,
        "y": 1180,
        "wires": []
    },
    {
        "id": "3f16dfa000e09c98",
        "type": "ui_gauge",
        "z": "974b87f71963749f",
        "name": "Cache Efficiency",
        "group": "3a38c87d0066b087",
        "order": 1,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "HIT %",
        "format": "{{value|number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "def",
        "x": 650,
        "y": 1140,
        "wires": []
    },
    {
        "id": "57b723ae0cdb1fd5",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "Cache Efficiency",
        "group": "3a38c87d0066b087",
        "order": 7,
        "width": 10,
        "height": 4,
        "label": "Cache Efficiency  <font size=3>[data]</font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "0413d291a951c109",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "Client Bandwidth",
        "group": "3a38c87d0066b087",
        "order": 16,
        "width": 10,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "7a3e3814da166b53",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3a38c87d0066b087",
        "order": 13,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Delivered Bandwidth: ",
        "format": "{{msg.rate}} {{msg.units}}bps",
        "layout": "row-center",
        "className": "def",
        "x": 660,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5b7429b7e2f7db72",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3733aad54f7e21ab",
        "order": 6,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Bandwidth Saved [max]",
        "format": "{{msg.payload}} {{msg.units}}bps",
        "layout": "col-center",
        "className": "huge",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "8db13e162d627307",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3733aad54f7e21ab",
        "order": 7,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Data Saved [total]",
        "format": "{{msg.value}}",
        "layout": "col-center",
        "className": "huge",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "a709f09e2be9e276",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3733aad54f7e21ab",
        "order": 3,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "User Sessions [max]",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "huge",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "232348cff06e823f",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3733aad54f7e21ab",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Bandwidth Saving: ",
        "format": "{{msg.rate}} {{msg.units}}bps",
        "layout": "row-center",
        "className": "def",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "128bc4259bf38155",
        "type": "ui_text",
        "z": "974b87f71963749f",
        "group": "3733aad54f7e21ab",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "User Sessions: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "def",
        "x": 640,
        "y": 940,
        "wires": []
    },
    {
        "id": "65c9eebbe3b613f2",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "User Sessions Chart",
        "group": "3733aad54f7e21ab",
        "order": 4,
        "width": 8,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "def",
        "x": 660,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "73c5ea80b8305d9a",
        "type": "ui_chart",
        "z": "974b87f71963749f",
        "name": "Bandwidth Saved Chart",
        "group": "3733aad54f7e21ab",
        "order": 5,
        "width": 8,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "def",
        "x": 670,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8fc202c6a30c598f",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "nodes detail",
        "func": "const redis = global.get('redis'); // Assumes Redis client is globally available\nconst now = Date.now();\n/**\n* 3 - CRIT, 2 - WARN, 1 - OK, 0 - UNKNOWN\n* @param {string | number | Date} stamp\n* @param {number} now\n* @param {number} cpu\n* @param {number} mem\n* @param {number} disk\n*/\nfunction calc_status(now, stamp, cpu, mem, disk) {\n    const stamp_ms = new Date(stamp).getTime();\n    const diff = (now - stamp_ms) / 1000;\n    if (diff > 30) return 0;\n    if (cpu > 90 || mem > 90 || disk > 90) return 3;\n    if (cpu > 80 || mem > 80 || disk > 80) return 2;\n    return 1;\n}\n\nfunction convertNumericStrings(obj) {\n    for (const key in obj) {\n        if (obj.hasOwnProperty(key)) {\n            const value = obj[key];\n            if (!isNaN(value)) {\n                // Check if the value is a valid number (integer or float)\n                if (Number.isInteger(parseFloat(value))) {\n                    // If it's an integer, parse and assign as an integer\n                    obj[key] = parseInt(value, 10);\n                } else {\n                    // If it's a float, parse and assign as a float\n                    obj[key] = parseFloat(value);\n                }\n            }\n        }\n    }\n    return obj;\n}\n\n// Function to retrieve hash objects for each key\nfunction get_node_data(key, callback) {\n    redis.hgetall(key, function (err, hash) {\n        if (err) {\n            callback(err);\n            return;\n        }\n        hash = convertNumericStrings(hash);\n        hash.status = calc_status(now, hash._stamp, hash.cpu_use_pct, hash.mem_use_pct, hash.disk_use_pct);\n        if (hash.status == 0) {\n            hash.cache_eff = -1;\n            hash.cpu_use_pct = -1;\n            hash.mem_use_pct = -1;\n            hash.disk_use_pct = -1;\n            hash.client_bw = NaN;\n            hash.upstream_bw = NaN;\n            hash.users = NaN;\n        } else {\n            //hash.cache_eff = parseInt(hash.cache_eff_pct);\n            //hash.cpu_use_pct = parseFloat(hash.cpu_use_pct);\n            //hash.mem_use_pct = parseFloat(hash.mem_use_pct);\n           // hash.disk_use_pct = parseFloat(hash.disk_use_pct);\n            //hash.client_bw = parseInt(hash.client_bw);\n            //hash.upstream_bw = parseInt(hash.upstream_bw);\n            //hash.users = parseInt(hash.client_sess);\n        }\n        callback(null,hash); \n    });\n}\n\n// Main function\nconst cache_node = global.get(\"nodeSelected\", \"file\");\nif (cache_node) {\n    const key = \"vcache_node:\" + cache_node.hostname + \":\" + cache_node.uuid;\n    get_node_data(key, function (err, hash) {\n        if (err) {\n            node.error(err);\n            return;\n        }\n        msg.payload = hash;\n        node.send(msg);\n    });\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 880,
        "wires": [
            [
                "d23168e787472af1",
                "50f9790b.49c718",
                "e1e13788026a662b",
                "1faa30a4e47251a1",
                "08c2a1b541a459f7",
                "f706757e6c338f82",
                "39b8930ee2a9adf4",
                "b47ed9d6965cf619",
                "da0aa089ba25ac3d",
                "abbb31eb4b46bee5",
                "2c4efc4e2ad833bb",
                "f29cd079ba2bd3e7",
                "cc0bb701d1ad35db",
                "a3ab7ed489cffd41",
                "2d42e4feaff4ca9d",
                "cc4530d81b831184",
                "17e3fe335519aed0",
                "87efa9f6b6c9b035",
                "96bc52077c2d45ed",
                "3403fba2e6675e96",
                "3b8de55b110ae2ff",
                "e45a659d61818887",
                "bf3b8f2cf8a535ec",
                "76e79eaf8f850cee"
            ]
        ]
    },
    {
        "id": "24c8dd37e4184c9e",
        "type": "inject",
        "z": "974b87f71963749f",
        "name": "poll 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "8fc202c6a30c598f"
            ]
        ]
    },
    {
        "id": "a3ab7ed489cffd41",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "max bw saved",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.max_bw_saved);\nmsg.payload = msg.payload.max_bw_saved;\nmsg.topic = \"max_bw_saved\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 700,
        "wires": [
            [
                "5b7429b7e2f7db72"
            ]
        ]
    },
    {
        "id": "2d42e4feaff4ca9d",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "bw saved",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.bw_saved);\nmsg.payload = msg.payload.bw_saved;\nmsg.topic = \"bw_saved\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 760,
        "wires": [
            [
                "73c5ea80b8305d9a",
                "232348cff06e823f"
            ]
        ]
    },
    {
        "id": "cc4530d81b831184",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "data saved ",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.data_saved);\nmsg.payload = msg.payload.data_saved;\nmsg.topic = \"data_saved\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 820,
        "wires": [
            [
                "8db13e162d627307"
            ]
        ]
    },
    {
        "id": "17e3fe335519aed0",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "client sess max",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.client_sess_max);\nmsg.payload = msg.payload.client_sess_max;\nmsg.topic = \"client_sess_max\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "a709f09e2be9e276"
            ]
        ]
    },
    {
        "id": "87efa9f6b6c9b035",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "cliet sessions",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.client_sess);\nmsg.payload = msg.payload.client_sess;\nmsg.topic = \"client_sess\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 920,
        "wires": [
            [
                "65c9eebbe3b613f2",
                "128bc4259bf38155"
            ]
        ]
    },
    {
        "id": "96bc52077c2d45ed",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "client bw",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.client_bw);\nmsg.payload = msg.payload.client_bw;\nmsg.topic = \"client_bw\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "7a3e3814da166b53",
                "0413d291a951c109"
            ]
        ]
    },
    {
        "id": "3403fba2e6675e96",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "cache eff pct",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.cache_eff_pct);\nmsg.payload = msg.payload.cache_eff_pct;\nmsg.topic = \"cache_eff_pct\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "57b723ae0cdb1fd5",
                "3f16dfa000e09c98"
            ]
        ]
    },
    {
        "id": "3b8de55b110ae2ff",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "request eff pct",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.req_eff_pct);\nmsg.payload = msg.payload.req_eff_pct;\nmsg.topic = \"req_eff_pct\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "bc9d6c02c0ee9e5b",
                "68d7914dad783e4e"
            ]
        ]
    },
    {
        "id": "e45a659d61818887",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "disk used",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.req_rate);\nmsg.payload = msg.payload.req_rate;\nmsg.topic = \"req_rate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "8c62fec7f80f063e",
                "a4f1c41a459e65ab"
            ]
        ]
    },
    {
        "id": "bf3b8f2cf8a535ec",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "upstream bw",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.upstream_bw);\nmsg.payload = msg.payload.upstream_bw;\nmsg.topic = \"upstream_bw\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1400,
        "wires": [
            [
                "1486b40a42209109",
                "b782bf2ea349a4a5"
            ]
        ]
    },
    {
        "id": "76e79eaf8f850cee",
        "type": "function",
        "z": "974b87f71963749f",
        "name": "upstream req rate",
        "func": "function formatBytes(bytes, decimals) {\n    if (bytes === 0) return '0 Byte';\n    var k = 1024; // or 1024 for binary\n    var dm = decimals + 1 || 2;\n    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n    var i = Math.floor(Math.log(bytes) / Math.log(k));\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.value = formatBytes(msg.payload.upstream_req_rate);\nmsg.payload = msg.payload.upstream_req_rate;\nmsg.topic = \"upstream_req_rate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1480,
        "wires": [
            [
                "1572697106f6a1f2",
                "913fe8919ba03de2"
            ]
        ]
    },
    {
        "id": "f80372ff84e69aab",
        "type": "link in",
        "z": "974b87f71963749f",
        "name": "node detail set",
        "links": [
            "67ba704c78cb72a4"
        ],
        "x": 105,
        "y": 820,
        "wires": [
            [
                "8fc202c6a30c598f"
            ]
        ]
    },
    {
        "id": "3696af61.5b451",
        "type": "subflow:19ad2b6f.f11b85",
        "z": "11df8122a3459712",
        "name": "certificate upload",
        "env": [
            {
                "name": "UPLOAD_DIR",
                "value": "/srv/salt/pki",
                "type": "str"
            },
            {
                "name": "EXTENSIONS",
                "value": "[\"p12\",\"pkcs12\",\"pfx\",\"pem\"]",
                "type": "json"
            }
        ],
        "x": 160,
        "y": 80,
        "wires": [
            [
                "54cbb1e2bf06957a"
            ]
        ]
    },
    {
        "id": "b1d1fd628d350803",
        "type": "ui_text_input",
        "z": "11df8122a3459712",
        "name": "cert pw",
        "label": "certificate password",
        "tooltip": "pkcs12 password (blank if none)",
        "group": "2871cce383627674",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "cbb5141d17c16d5c"
            ]
        ]
    },
    {
        "id": "6349b7a97ec7d3e7",
        "type": "ui_text_input",
        "z": "11df8122a3459712",
        "name": "cert tag",
        "label": "certificate tag",
        "tooltip": "certificate tag name identifying the destination",
        "group": "2871cce383627674",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "a1954ee40501addf"
            ]
        ]
    },
    {
        "id": "cbb5141d17c16d5c",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "set cert pw cfg",
        "func": "global.set('CERT_PW_CFG', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a1954ee40501addf",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "set cert tag cfg",
        "func": "global.set('CERT_TAG_CFG', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6fb4aaa55aefc3b8",
        "type": "ui_button",
        "z": "11df8122a3459712",
        "name": "publish cert",
        "group": "2871cce383627674",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Publish Certificate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "b6084da73970284e"
            ]
        ]
    },
    {
        "id": "54cbb1e2bf06957a",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "set cert file cfg",
        "func": "function getBasename(filePath) {\n    // Split the file path by forward slash or backslash to handle different OS path separators\n    const parts = filePath.split(/[\\\\/]/);\n\n    // Get the last part of the split array, which is the basename\n    return parts[parts.length - 1];\n}\n\nglobal.set('CERT_FILE_CFG', getBasename(msg.payload));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b6084da73970284e",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "publish cert",
        "func": "const cert_file = global.get(\"CERT_FILE_CFG\");\nconst cert_tag = global.get(\"CERT_TAG_CFG\");\nconst cert_pw = global.get(\"CERT_PW_CFG\");\n\nif (cert_file && cert_tag) {\n    if (cert_pw && cert_pw.length) {\n        msg.payload = \"salt \\\\* state.sls vcache.util.push_cert pillar='{\\\"cert_tag\\\": \" + cert_tag + \", \\\"cert_file\\\": \" + cert_file + \", \\\"cert_pw\\\": \" + cert_pw + \"}'\";\n    } else {\n        msg.payload = \"salt \\\\* state.sls vcache.util.push_cert pillar='{\\\"cert_tag\\\": \" + cert_tag + \", \\\"cert_file\\\": \" + cert_file + \"}'\";\n    }\n} else {\n    msg.payload = \"false\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "503c09fd27f1752c"
            ]
        ]
    },
    {
        "id": "503c09fd27f1752c",
        "type": "exec",
        "z": "11df8122a3459712",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "salt state run",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "ee9615df08fc816a"
            ],
            [
                "ee9615df08fc816a"
            ],
            []
        ]
    },
    {
        "id": "ee9615df08fc816a",
        "type": "debug",
        "z": "11df8122a3459712",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "cf272c6a057d44e3",
        "type": "subflow:f20a02c6de528163",
        "z": "11df8122a3459712",
        "name": "config upload",
        "env": [
            {
                "name": "UPLOAD_DIR",
                "value": "/tmp",
                "type": "str"
            },
            {
                "name": "EXTENSIONS",
                "value": "[\"cfg\"]",
                "type": "json"
            }
        ],
        "x": 150,
        "y": 300,
        "wires": [
            [
                "49d3e4fd0b19f902"
            ]
        ]
    },
    {
        "id": "49d3e4fd0b19f902",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "set cfg file cfg",
        "func": "function getBasename(filePath) {\n    // Split the file path by forward slash or backslash to handle different OS path separators\n    const parts = filePath.split(/[\\\\/]/);\n\n    // Get the last part of the split array, which is the basename\n    return parts[parts.length - 1];\n}\n\nglobal.set('CFG_FILE_CFG', getBasename(msg.payload));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "a18cde78c7338c3d"
            ]
        ]
    },
    {
        "id": "e37fec026d371357",
        "type": "ui_button",
        "z": "11df8122a3459712",
        "name": "publish cfg",
        "group": "3a88c0294b97b966",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Publish Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "147e6bfc2bfa57f1"
            ]
        ]
    },
    {
        "id": "147e6bfc2bfa57f1",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "publish cfg",
        "func": "const cfg_file = global.get(\"CFG_FILE_CFG\");\n\nif (cfg_file) {\n    msg.payload = \"salt \\\\* state.sls vcache.util.push_cfg pillar='{\\\"cfg_file\\\": \" + cfg_file + \"}'\";\n} else {\n    msg.payload = \"false\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "503c09fd27f1752c",
                "b02f07025b62e502"
            ]
        ]
    },
    {
        "id": "975b39d4159692ed",
        "type": "downloadfile",
        "z": "11df8122a3459712",
        "name": "vcache.cfg",
        "filename": "vcache.cfg",
        "encoding": "none",
        "x": 890,
        "y": 380,
        "wires": [],
        "inputLabels": [
            "file"
        ]
    },
    {
        "id": "3499a2cb4691f7b2",
        "type": "ui_button",
        "z": "11df8122a3459712",
        "name": "download cfg",
        "group": "3a88c0294b97b966",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Download Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "bf39125bdea15489"
            ]
        ]
    },
    {
        "id": "bf39125bdea15489",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "download cfg",
        "func": "msg.filename = \"vcache.cfg\";\nmsg.payload = \"/etc/vcache-mgr/vcache.cfg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "51ea5884e4306929"
            ]
        ]
    },
    {
        "id": "51ea5884e4306929",
        "type": "file in",
        "z": "11df8122a3459712",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "c989a0e565938742"
            ]
        ]
    },
    {
        "id": "b02f07025b62e502",
        "type": "debug",
        "z": "11df8122a3459712",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "c989a0e565938742",
        "type": "function",
        "z": "11df8122a3459712",
        "name": "function 1",
        "func": "msg.filename  = \"vcache.cfg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 380,
        "wires": [
            [
                "975b39d4159692ed"
            ]
        ]
    },
    {
        "id": "a18cde78c7338c3d",
        "type": "debug",
        "z": "11df8122a3459712",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "9ca920d805009264",
        "type": "ui_button",
        "z": "08ebeea6e2046abd",
        "name": "Accept All",
        "group": "2bfbf363d31643c1",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Accept All",
        "tooltip": "Accept all pending cache mgmt registrations",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "1e980162154930d3"
            ]
        ]
    },
    {
        "id": "1e980162154930d3",
        "type": "exec",
        "z": "08ebeea6e2046abd",
        "command": "salt-key -y -A",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 750,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d6147e86664e5e9b",
        "type": "exec",
        "z": "08ebeea6e2046abd",
        "command": "sleep 10; salt '*' saltutil.sync_beacons",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "sync beacons",
        "x": 780,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "32ac04d1f6fe6e9e",
        "type": "ui_table",
        "z": "08ebeea6e2046abd",
        "group": "2bfbf363d31643c1",
        "name": "Pending Minions",
        "order": 1,
        "width": 6,
        "height": 1,
        "columns": [
            {
                "field": "node",
                "title": "Node",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "acf4447a9db5dc4c"
            ]
        ]
    },
    {
        "id": "5a890de0ddaf48bb",
        "type": "inject",
        "z": "08ebeea6e2046abd",
        "name": "poll (7)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "694d6fe2baa337a6"
            ]
        ]
    },
    {
        "id": "694d6fe2baa337a6",
        "type": "exec",
        "z": "08ebeea6e2046abd",
        "command": "salt-key -L --output json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "probe minions",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "f1ecdf3d66c25ebd",
                "75933c13fdf23b68"
            ],
            [],
            []
        ]
    },
    {
        "id": "f1ecdf3d66c25ebd",
        "type": "function",
        "z": "08ebeea6e2046abd",
        "name": "pending minion data",
        "func": "if (msg.payload.length === 0) return null;\nvar json = JSON.parse(msg.payload);\nvar table = json[\"minions_pre\"].map((node) => (\n    {\n        \"node\": node,\n    }\n    ));\nconst rowContext = \"function (e, row) { e.preventDefault(); console.log(\\\"Right clickt! \\\", row.getData());console.log(\\\"e event:\\\", e); this.send({payload: {row: row.getData(), clientX: e.clientX, clientY: e.clientY}});}\";\nmsg.ui_control = {\n    tabulator: {\n        rowContext: rowContext\n    }\n}\n    \nmsg.payload = table;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "32ac04d1f6fe6e9e"
            ]
        ]
    },
    {
        "id": "20322f0058561fd5",
        "type": "daemon",
        "z": "08ebeea6e2046abd",
        "name": "",
        "command": "salt-master",
        "args": "-l debug",
        "autorun": false,
        "cr": false,
        "redo": true,
        "op": "string",
        "closer": "SIGTERM",
        "x": 770,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "941674b482aa389f",
        "type": "function",
        "z": "08ebeea6e2046abd",
        "name": "restart mgr agent",
        "func": "msg.kill =  true;\nmsg.start = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 100,
        "wires": [
            [
                "20322f0058561fd5"
            ]
        ]
    },
    {
        "id": "27206406fc11d2ef",
        "type": "inject",
        "z": "08ebeea6e2046abd",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "d8c7f242128e6d08",
                "fd6fa0f7672dae01"
            ]
        ]
    },
    {
        "id": "acf4447a9db5dc4c",
        "type": "ui_context_menu",
        "z": "08ebeea6e2046abd",
        "group": "2bfbf363d31643c1",
        "order": 9,
        "width": 1,
        "height": 1,
        "fontSize": 16,
        "inputPositionXField": "payload.clientX",
        "inputPositionXType": "msg",
        "inputPositionYField": "payload.clientY",
        "inputPositionYType": "msg",
        "outputField": "payload",
        "inputMenuField": "menu",
        "inputMenuType": "fixed",
        "menuItems": [
            {
                "id": "",
                "icon": "",
                "label": "Accept",
                "topic": "",
                "payload": "",
                "payloadType": "str",
                "visible": true,
                "enabled": true
            },
            {
                "id": "",
                "icon": "",
                "label": "Reject",
                "topic": "",
                "payload": "",
                "payloadType": "str",
                "visible": true,
                "enabled": true
            },
            {
                "id": "",
                "icon": "",
                "label": "Delete",
                "topic": "",
                "payload": "",
                "payloadType": "str",
                "visible": true,
                "enabled": true
            }
        ],
        "colors": "theme",
        "textColor": "#000000",
        "backgroundColor": "#ffffff",
        "borderColor": "#626262",
        "intervalLength": 0,
        "intervalUnit": "secs",
        "startTimerAtOpen": false,
        "startTimerAtLeave": true,
        "stopTimerAtEnter": true,
        "name": "pending nodes ctx",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "7965e8cf8c0f94ee"
            ]
        ]
    },
    {
        "id": "7965e8cf8c0f94ee",
        "type": "function",
        "z": "08ebeea6e2046abd",
        "name": "handle context menu",
        "func": "if (msg.payload.toLowerCase() === 'delete') {\n    const node_id = msg.sourceMsg.payload.row.node;\n    msg.payload = \"salt-key -y -d \" + node_id;\n} else if (msg.payload.toLowerCase() === 'accept') {\n    const node_id = msg.sourceMsg.payload.row.node;\n    msg.payload = \"salt-key -y -a \" + node_id;\n} else if (msg.payload.toLowerCase() === 'reject') {\n    const node_id = msg.sourceMsg.payload.row.node;\n    msg.payload = \"salt-key -y -r \" + node_id;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "430201fe36756d7b"
            ]
        ]
    },
    {
        "id": "430201fe36756d7b",
        "type": "exec",
        "z": "08ebeea6e2046abd",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "salt-key cmd",
        "x": 1010,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d8c7f242128e6d08",
        "type": "ui_button",
        "z": "08ebeea6e2046abd",
        "name": "restart salt master",
        "group": "2bfbf363d31643c1",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Restart Salt",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "941674b482aa389f"
            ]
        ]
    },
    {
        "id": "fd6fa0f7672dae01",
        "type": "ui_button",
        "z": "08ebeea6e2046abd",
        "name": "sync beacons",
        "group": "2bfbf363d31643c1",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Sync Beacons",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "d6147e86664e5e9b"
            ]
        ]
    },
    {
        "id": "3e0cb6f98233ae1e",
        "type": "complete",
        "z": "08ebeea6e2046abd",
        "name": "sync beacons trigger",
        "scope": [
            "1e980162154930d3",
            "430201fe36756d7b"
        ],
        "uncaught": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "fd6fa0f7672dae01"
            ]
        ]
    },
    {
        "id": "c66030ce72b513a0",
        "type": "ui_table",
        "z": "08ebeea6e2046abd",
        "group": "90cedd2a8446aa03",
        "name": "Rejected Minions",
        "order": 1,
        "width": 6,
        "height": 1,
        "columns": [
            {
                "field": "node",
                "title": "Node",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "82b1693fd1f95a9a"
            ]
        ]
    },
    {
        "id": "75933c13fdf23b68",
        "type": "function",
        "z": "08ebeea6e2046abd",
        "name": "rejected minion data",
        "func": "if (msg.payload.length === 0) return null;\nvar json = JSON.parse(msg.payload);\nvar table = json[\"minions_rejected\"].map((node) => (\n    {\n        \"node\": node,\n    }\n    ));\nconst rowContext = \"function (e, row) { e.preventDefault(); console.log(\\\"Right clickt! \\\", row.getData());console.log(\\\"e event:\\\", e); this.send({payload: {row: row.getData(), clientX: e.clientX, clientY: e.clientY}});}\";\nmsg.ui_control = {\n    tabulator: {\n        rowContext: rowContext\n    }\n}\n    \nmsg.payload = table;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "c66030ce72b513a0"
            ]
        ]
    },
    {
        "id": "7876ca71a72f89cd",
        "type": "ui_button",
        "z": "08ebeea6e2046abd",
        "name": "",
        "group": "90cedd2a8446aa03",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Delete All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "56b4fe9fdbfea327"
            ]
        ]
    },
    {
        "id": "82b1693fd1f95a9a",
        "type": "ui_context_menu",
        "z": "08ebeea6e2046abd",
        "group": "90cedd2a8446aa03",
        "order": 5,
        "width": 1,
        "height": 1,
        "fontSize": 16,
        "inputPositionXField": "payload.clientX",
        "inputPositionXType": "msg",
        "inputPositionYField": "payload.clientY",
        "inputPositionYType": "msg",
        "outputField": "payload",
        "inputMenuField": "menu",
        "inputMenuType": "fixed",
        "menuItems": [
            {
                "id": "",
                "icon": "",
                "label": "Delete",
                "topic": "",
                "payload": "",
                "payloadType": "str",
                "visible": true,
                "enabled": true
            }
        ],
        "colors": "theme",
        "textColor": "#000000",
        "backgroundColor": "#ffffff",
        "borderColor": "#626262",
        "intervalLength": 0,
        "intervalUnit": "secs",
        "startTimerAtOpen": false,
        "startTimerAtLeave": true,
        "stopTimerAtEnter": true,
        "name": "rejected nodes ctx",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "7965e8cf8c0f94ee"
            ]
        ]
    },
    {
        "id": "56b4fe9fdbfea327",
        "type": "exec",
        "z": "08ebeea6e2046abd",
        "command": "salt-key -L -r --output json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "winHide": false,
        "oldrc": false,
        "name": "probe minions",
        "x": 760,
        "y": 500,
        "wires": [
            [
                "4991dec486cbc8e7"
            ],
            [],
            []
        ]
    },
    {
        "id": "4991dec486cbc8e7",
        "type": "function",
        "z": "08ebeea6e2046abd",
        "name": "delete all rejected",
        "func": "if (msg.payload.length === 0) return null;\nvar json = JSON.parse(msg.payload);\nvar table = json[\"minions_rejected\"].map((node) => (\n    {\n        \"node\": node,\n    }\n    ));\n\ntable.forEach(function (row) {\n    // Create a new message for each row\n    var msg = {\n        payload: \"salt-key -y -d \" + row.node\n    };\n\n    // Send the message to the next node or debug it\n    node.send(msg);\n});\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 500,
        "wires": [
            [
                "430201fe36756d7b"
            ]
        ]
    },
    {
        "id": "f3d49644fec40d89",
        "type": "subflow:38e7de2b5e7e983e",
        "z": "08ebeea6e2046abd",
        "name": "",
        "env": [
            {
                "name": "UPLOAD_DIR",
                "value": "/tmp",
                "type": "str"
            },
            {
                "name": "EXTENSIONS",
                "value": "[\"txt\",\"csv\",\"roster\"]",
                "type": "json"
            }
        ],
        "x": 310,
        "y": 660,
        "wires": [
            []
        ]
    }
]